body {
    background-image: url("grey_@2X.png");
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 250px;
    color: #71777c;


}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;

}


#menu1 {
    width: 25%;
    margin-top: 10px;
    display: inline-block;
}

#menu2 {
    width: 64%;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 0%;
    display: inline-block;
}

#menu1 img {
    widows: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#centerMenu p {
    margin-left: auto;
    margin-right: auto;
}


.subMenu {
    float: right;
    margin: 0 20px;
    font-size: 18px;

}

.mediumContainer {

    margin: 50px auto;
    width: 70%;
    text-align: center;
    font-size: 2.6vw;
}

#laptop {
    display: inline-block;
    position: relative;
    bottom: -40px;
}

#laptop img {
    width: 30vw;
    height: 15vw
}

#smartphone {
    position: relative;
    left: 45px;
    bottom: -20px;

    margin-left: 30px;
    margin-bottom: 40px;
    display: inline-block;
}

#smartphone img {
    width: 4.5vw;
    height: 8vw;
}

#tablet {
    position: relative;
    left: -154px;
    bottom: -80px;
    display: inline-block;
}

#tablet img {
    width: 8vw;
    height: 13vw;
}

#oneID {
    background: rgb(242, 242, 242);
    height: 22vw;
    border: 0 solid black;
    border-radius: 30px;
}

.smallContainer {
    background: rgb(242, 242, 242);
    width: 20vw;
    height: 30vw;
    border: 0 solid black;
    border-radius: 25px;
    display: inline-block;
    margin: 0 15px;
    font-size: 2vw;


}

.inSmallContainer {
    width: 15vw;
    height: 15vw;
    background: white;
    margin: 20px auto 0 auto;
    border: 2px solid rgb(237, 232, 232);
    border-radius: 15vw;
    margin-bottom: 20px;

}

.inSmallContainer img {
    width: 15vw;
    height: 15vw;
}

#contactImg img {
    width: 13vw;
    height: 13vw;
}

#firstContainer {
    background: rgb(242, 242, 242);
    width: 20vw;
    height: 0vw;
    margin-right: 5px;
    line-height: 3vw;
    margin-top: 10px;

}

.myButton {
    width: 13vw;
    height: 2vw;
    position: relative;
    top: 2vw;
    left: 6.5vw;
    padding: 1vw;
    line-height: 2vw;
    border: 0.1solid #48cfad;
    border-radius: 10px;
    background: linear-gradient(to right, #26e3cd, #098fcb);
    color: aliceblue;
    font-size: 1.3vw;
    text-align: left;
    cursor: pointer;
    text-align: center;
}

#firstButton {
    top: 1vw;
    left: 8vw;
}

.myButton i {
    display: inline-block;
    margin-left: 1.7vw;


}

.myButton:hover {
    background: linear-gradient(to right, #098fcb, #26e3cd);
}

.myButton:hover i {
    color: #3e3e4b;

}



















#downContainer {
    margin-top: 200px;
    background: #3b3b79;
    width: 100%;
    bottom: 0px;
    color: #969696;
    text-align: center
}

.downOfPage {
    background: #24245d;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 75px;

}

.downOfPage:nth-child(2) {
    line-height: 50px;
    height: 40px;
}

.downOfPage:last-child {
    font-size: 50px;
    color: aliceblue;

}

.downOfPage:last-child:hover {
    font-size: 50px;
    color: #48cfad;
    cursor: pointer;
}

.socials img {
    margin-top: 25px;
    margin-left: 25px;
    width: 50px;
    height: 50px;

}























@media(max-width:1240px) {
    #menu2 {
        margin-right: 3vw;
        margin-left: 0;
        width: 73%;
        background: blue;
    }
    #menu1 {
        width: 15%;
        margin-left: 60px;
    }
    .subMenu {
        margin: 0 1vw;
        font-size: 15.1px;
    }

    .downOfPage:nth-child(2) {
        line-height: 25px;
    }
    .mediumContainer img:nth-child(2) {
        display: none;
    }
    .mediumContainer img:nth-child(3) {
        display: none;
    }
    #smartphone {
        left: 20px;
    }
    #tablet {
        display: none;
    }
    .smallContainer {
        margin: 0 9px;
    }
    .inSmallContainer {
        margin: 1vw auto;
    }
    #firstContainer {
        margin-right: -40px;
    }
}




@media(max-width:768px) {
    #menu2 {
        margin-left: auto;
        width: 76%;
        background: yellow;
    }
    .subMenu {
        margin: 0 0.1vw;
        margin-right: 4vw;
    }
    #menu1 {
        margin-left: 10px;
        width: 10%;
        margin-top: 20px;
    }
    #menu1 img {
        width: 10vw;
        height: 10vw;
        display: block;
    }
    #clear {
        display: none;
    }
    .mediumContainer {
        font-size: 20px;
        margin: 0 auto;
        width: 100%;
    }
    .downOfPage:nth-child(2) {
        line-height: 15px;
        font-size: 12px;
    }
    .socials img {
        margin-top: 35px;
        margin-left: 1vw;
        width: 35px;
        height: 35px;
    }
    .subMenu {
        margin: 0 1vw;
        font-size: 15.8px;
    }
    .smallContainer {
        width: 85%;
        margin: 30px auto;
        display: block;
        font-size: 6vw;
        line-height: 20vw;
    }
    .inSmallContainer,
    .myButton {
        float: left;
    }
    .inSmallContainer {
        margin-left: 20px;
        width: 25vw;
        height: 25vw;
    }
    .inSmallContainer img {
        width: 25vw;
        height: 25vw;
    }
    #contactImg img {
        width: 20vw;
        height: 20vw;
    }
    #smartphone {
        display: none;
    }
    #firstContainer {
        margin-right: -40px;
    }
    #laptop {
        bottom: -30px;
        left: -10px;
        display: inline-block;
    }
    #oneID {
        height: 45vw;
    }
    #laptop img {
        width: 50vw;
        height: 25vw
    }
    #firstContainer {
        display: inline-block;
        margin-right: 20px;
        line-height: 5vw;
    }
    .myButton {
        width: 33vw;
        height: 5vw;
        top: -10px;
        font-size: 4.4vw;
        line-height: 5vw;
    }
    #firstButton {
        top: 10px;
        left: -10px;
    }
    .myButton i {
        display: none;
    }
}







@media(max-width:320px) {
    #menu2 {
        margin-right: vw;
        width: 100%;
        background: green;
    }
    .subMenu {
        margin: 0 4vw;
        margin-right: 1vw;
    }
    #menu1 {
        display: none;
    }
    #clear {
        display: none;
    }
    .downOfPage {
        width: 100%;
        height: 62px;
        font-size: 6.5vw;
    }
    .downOfPage:last-child {
        font-size: 30px;
    }
    .socials img {
        margin-top: 20px;
        margin-left: 1vw;
        width: 35px;
        height: 35px;
    }
    .smallContainer {
       font-size: 5vw;
        line-height: 15vw;
    }
    
    


}
