body {
    background: grey;
}

#calosc {
    width: 310px;
    margin: 100px auto;
}

.kratka {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background: linear-gradient(to bottom right, white, #b5bdc9);
    border-radius: 20px;
    box-shadow: 2px 2px 4px #b5bdc9;
}

.kratka i {
    opacity: 0.3;
}

.kratka:hover {
    cursor: pointer;
}

#Komunikat {
    text-align: center;
    font-size: 40px;
    color:aliceblue;
}
